*.gitignore*

.cproject
.project
.pydevproject
.settings
cppcheck.xml
sonar-project.properties
src_files.txt
*sublime-*
.fuse_*
.idea/
.vs
CMakeSettings.json

.scannerwork/
build*/
cmake-build*/
cppcheck/
doc/html/
doc/latex/
src/Tools/version.cpp
test-regression-results/
code_coverage_files/
code_coverage_report/


__pycache__/