*.gitignore*

.cproject
.project
.pydevproject
.settings
cppcheck.xml
sonar-project.properties
src_files.txt
*sublime-*
.fuse_*
.idea/
.vs
.vscode
CMakeSettings.json

.scannerwork/
build*/
cmake-build*/
cppcheck/
src/Tools/version.cpp
src/Tools/Documentation/strings.cpp
test-regression-results/
code_coverage_files/
code_coverage_report/
doc/build/
doc/source/api/
doc/output/

__pycache__/
