stages:
  - analysis
  - build
  - test

before_script:
  - hostname
  - whoami
# - pwd
  - git submodule sync --recursive
  - git submodule update --init --recursive

analysis-cppcheck:
  stage: analysis
  artifacts:
    name: analysis-cppcheck-logs
    when: always
    paths:
      - cppcheck/
  tags:
    - cppcheck
  script:
    - ./ci/analysis-cppcheck.sh

analysis-sonarqube:
  stage: analysis
  tags:
    - sonarqube
  only:
    - master
  script:
    - ./ci/analysis-sonarqube.sh

build-linux-gcc:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-gcc.sh

build-linux-gcc-8-bit:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-gcc-8-bit.sh

build-linux-gcc-mpi:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-gcc-mpi.sh

build-linux-gcc-systemc:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-gcc-systemc.sh

build-linux-clang:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-clang.sh

build-linux-gcc-4.8:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-gcc-4.8.sh

build-linux-icpc:
  stage: build
  tags:
    - linux
  script:
    - ./ci/build-linux-icpc.sh

build-windows-gcc:
  stage: build
  tags:
    - windows
  script:
    - ./ci/build-windows-gcc.bat

build-windows-msvc:
  stage: build
  tags:
    - windows
  script:
    - ./ci/build-windows-msvc.bat

build-mac-osx-clang:
  stage: build
  tags:
    - mac-osx
  script:
    - ./ci/build-mac-osx-clang.sh

test-regression:
  stage: test
  retry: 1
  tags:
    - test
  artifacts:
     name: test-regression-results
     when: always
     paths:
       - test-regression-results/
  script:
    - ./ci/test-build-linux-gcc.sh
    - ./ci/test-regression.py --max-snr-time 5 --sensibility 2.5 --weak-rate 0.9 --verbose 1