*.gitignore*

.cproject
.project
.pydevproject
.settings
cppcheck.xml
sonar-project.properties
src_files.txt
*.sublime-*

.scannerwork/
build*/
cppcheck/
doc/html/
doc/latex/
src/Tools/version.cpp
test-regression-results/