mkdocs==1.2.3
jinja2==3.0.0
Sphinx==1.8.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-bibtex==0.4.0
sphinxcontrib-websupport==1.1.0
sphinxcontrib-svg2pdfconverter==0.1.0
breathe==4.11.0
mistune==2.0.3
m2r==0.2.1
docutils==0.14
exhale==0.2.3
