setuptools==83.0.0

# Sphinx moderne
Sphinx>=6.2
furo

# Markdown moderne (remplace m2r)
myst-parser

# Extensions
sphinxcontrib-bibtex==2.6.1
sphinxcontrib-svg2pdfconverter==1.2.2
breathe==4.35.0
exhale==0.2.4

# Utils
pygments==2.17.2